extends layout

block content
  h1 #{title}: #{article.title}
  p 作者：
    a(href=article.author.url) #{article.author.name}
    if article.author.identity=='管理员'
      span.text-danger (#{article.author.identity})
    else
      span.text-success (#{article.author.identity})
  
  p 你真的想删除此文章吗？
    
  form(method='POST' action='')
    div.form-group
      input#articleid.form-control(type='hidden',name='articleid', required='true', value=article._id )
      label(for='password') 口令:
      input#password.form-control(type='password' placeholder='口令' name='password' required='true')
    button.btn.btn-primary(type='submit') 删除