extends layout

block content
  h1= title
  
  ul
  each author in author_list
    li 
      a(href=author.url) #{author.name} 
      if author.identity=='管理员'
        span.text-danger (#{author.identity})
      else
        span.text-success (#{author.identity})
      

  else
    li 没有作者。